<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="safetytaxi.parsetest" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="23"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar"
        android:name=".MainApplication" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".Welcome"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="AMwEM0I7WJxoPCzZPvS22zYGvWRahHKvsspAjU9D" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="5KRcNT9wJV4fvk0F0rR8OU0xhCCs7S9Tow1NNKYV" />
    </application>

</manifest>
